body{
    background-color:rgba(80, 80, 80);


}
.header{
    background-color: rgba(144,144,144);
    box-shadow: 10px 10px 5px black;
    border-radius: 0.6vw;
    width: 74vw;
    height:7.2vw;
    margin:auto;
    top: 0.4vw;
    position: relative;
}
.top_Day{
    width: 28vw;
    position: absolute;
    border-radius: 0.6vw;

}
.top_loupe{
    position: absolute;
    width: 14vw;
    top: 0.5vw;
    right: 1.5vw;
}
.refresh{
    position: absolute;
    right: 0.5vw;
    width: 1.1vw;
    top: 0.5vw;
}
.close{
    position: absolute;
    right: 0.5vw;
    width: 1.1vw;
    bottom: 0.5vw;
}
.left_side{
    position: absolute;
    background-color: rgba(144,144,144);
    box-shadow:10px 10px 5px black;
    border-radius: 0.6vw;
    width: 7.5vw;
    height:22.2vw;
    top: 9vw;
    left: 14.5vw;

}
.Advance{
    position: absolute;
    width: 3.6vw;
    top: 0.9vw;
    left: 1.7vw;
}
.Take{
    position: absolute;
    width: 3.6vw;
    top: 5vw;
    left: 1.7vw;
}
.Look{
    position: absolute;
    width: 3.6vw;
    top: 9.1vw;
    left: 1.7vw;
}
.Use{
    position: absolute;
    width: 3.6vw;
    top: 13vw;
    left: 1.7vw;
}
.Speak{
    position: absolute;
    width: 3.6vw;
    top: 17.3vw;
    left: 1.7vw;
}
.square{
    position: absolute;
    width: 3.6vw;
    height: 3.4vw;
    border: 0.3vw solid #fc0301;
    border-radius: 0.2vw;
    top: 8.8vw;
    left: 1.4vw;
}
.right_side{
    position: absolute;
    background-color: rgba(144,144,144);
    box-shadow:10px 10px 5px rgba(0, 0, 0);
    border-radius: 0.6vw;
    width: 7.4vw;
    height:22.3vw;
    top: 9vw;
    right: 14.6vw;

}
.book{
    position: absolute;
    width: 3.7vw;
    top: 0.8vw;
    left: 1.9vw;
}
.towel{
    position: absolute;
    width: 3.7vw;
    top: 6.2vw;
    left: 1.9vw;
}
.brick{
    position: absolute;
    background-image: url(resources/brick.jpg);
    background-repeat: repeat;
    background-size: 26.4%;
    width: 6.35vw;
    height: 3.6vw;
    top: 9.3vw;
    left: 0.5vw;
}
.cluster{
    position: absolute;
    left: 23.3vw;
    top: 9vw;
    height: 29.2vw;
    width: 52vw;
    border: 0.7em solid rgba(144,144,144) ;
    border-radius: 0.5vw;
    box-shadow: 10px 10px 5px black;
    margin-right: 1vw ;
}
.cluster img{
    width: 52vw;
    
}
.message{
    position: absolute;
    background-color: rgb(83, 255, 120);
    left: 10.6vw;
    top: 35.4vw;
    width: 27.2vw;
    height: 9vw;
    border-radius: 0.5vw;
}
.message p{
    position: absolute;
    left: 0.5vw;
    font-family: sans-serif;
    font-size: 0.9vw;
    letter-spacing: 0.02vw;
}
#entrez{
    font-family: Georgia, sans-serif;
    font-size: 1.9vw ;
}
#italic{
    font-style: italic ;
    font-size: 0.9vw;
}
.message form{
    position: absolute;
    top: 5.2vw;
    left: 0.65vw;

}
#form_input{
    position: absolute;
    width: 19.5vw;
    height: 1vw;
    margin-right: 0.3%;
    border: 3px solid;
    border-bottom-color: rgb(234, 240, 234);
    border-right-color: rgb(234, 240, 234);
    border-left-color: rgb(151, 155, 148);
    border-top-color: rgb(151, 155, 148);
}
#form_submit{
    position: absolute;
    left: 20.4vw;
    letter-spacing: 0.6%;
    width: 4.9vw;
    height: 1.3vw;
    font-size: 0.7vw;
    background: #f8f8f8;
    border: solid rgb(141, 160, 143) 1.5px;
    border-radius: 3px;
}
#shadow{
    text-shadow: 5px 5px 4px red;
}
.ikea{
    position: absolute;
    width: 6vw;
    height: 11vw;
    left: 17vw;
    top: 17vw;
}
.apple{
    position: absolute;
    width: 10vw;
    height: 7vw;
    right: 1vw;
    top: 16.5vw;
}